body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif !important;
}

.breadcrumb {
	padding: 0 50px;
	margin: 16px 0;
}

#siteLayoutContent {
	margin-bottom: 16px;
	min-height: 100vh;
	padding: 0 50px;
	margin: 16px 0;
}
@media (min-width: 0px) and (max-width: 768px) {
	#siteLayoutContent {
		padding: 0 5px;
	}
  }

#layout {
	background-color: #fff;
}

#footer {
	text-align: center;
}
